@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  margin: 0;
}

.App {
  width: 100vw;

  color: #21252b;
}

h1, h2, h3 {
  font-family: 'Inconsolata', monospace;
}

#header {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 12%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.headContainer>h1 {
  position: absolute;
  color: #f8b133;
  width: 100%;
  bottom: 0;
  margin: 10px;
  font-size: 69px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.headshot {
  width: 100%;
}

.aboutContainer {
  background-color: #f6f7f8;
  padding: 5%;
}

.aboutContainer>h2 {
  text-align: center;
  margin: 0;
  font-size: 36px;
}

a {
  color: inherit;
  text-decoration: none;
}

.aboutMe {
  font-size: 24px;
}

.iconContainer {
  text-align: center;
  font-size: 24px;
  letter-spacing: 16px;
}

.background {
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background-color: #21252b;
  transform: skewY(-17deg) translateY(-30%);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
#work {
  padding: 5%;
}

#work>h2 {
  text-align: center;
}

.techContainer {
  text-align: center;
  font-size: 18px;
  letter-spacing: 8px;
  margin: 20px;
}

.projects {
  display: grid;
  gap: 40px;
}

.project {
  padding: 5%;
  box-shadow: 2px 2px 9px rgba(0,0,0,0.2);
}

.projectInfo {
  display: grid;
  grid: 1fr 2fr / 1fr 1fr;
  align-items: center;
}

.projectInfo>h3 {
  margin: 0;
}

.projectIcons {
  justify-self: end;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.projectDescription {
  grid-area: 2 / 1 / 3 / 3;
}

.contact {
  color: white;
  background-color: #21252b;
  padding: 5%;
}

.contact>h2 {
  text-align: center;
}

.contact>.iconContainer {
  color: #f8b133;
}

.footerImage {
  width: 100%;
}