@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  width: 100vw;
  margin: 0;
}

.App {
  width: 100%;
  color: #21252b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3 {
  font-family: 'Inconsolata', monospace;
}

h2 {
  font-size: 36px;
}

#header {
  width: 100%;
}

.headerSection {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 40px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.name {
  position: absolute;
  color: #f8b133;
  width: 100%;
  bottom: 0;
  margin: 10px;
  font-size: 69px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.headshot {
  width: 100%;
}

.aboutContainer {
  background-color: #f6f7f8;
  padding: 20px;
  max-width: 350px;
}

.aboutContainer>h2 {
  text-align: center;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.aboutMe {
  font-size: 24px;
}

.iconContainer {
  text-align: center;
  font-size: 24px;
  letter-spacing: 16px;
}

.background {
  width: 100%;
  height: 60%;
  bottom: 40%;
  left: 0;
  z-index: -1;
  position: absolute;
  background-color: #21252b;
  transform: skewY(-17deg) translateY(-30%);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

#work {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#work>h2 {
  text-align: center;
}

.techContainer {
  text-align: center;
  font-size: 18px;
  letter-spacing: 8px;
  margin: 20px;
}

.projects {
  max-width: 500px;
  display: grid;
  grid: 1fr / 1fr;
  justify-items: center;
  padding: 20px;
  gap: 40px;
  margin: auto;
}

.project {
  max-width: 340px;
  box-shadow: 2px 2px 9px rgba(0,0,0,0.2);
}

.projectImage {
 width: 100%;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projectInfo {
  display: grid;
  grid: 1fr 2fr / 1fr 1fr;
  align-items: center;
  padding: 20px;
}

.projectInfo>h3 {
  margin: 0;
}

.projectIcons {
  justify-self: end;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.projectDescription {
  grid-area: 2 / 1 / 3 / 3;
}

#footer {
  background-color: #21252b;
  width: 100%;
}

.contact {
  color: white;
  background-color: #21252b;
  padding: 20px;
}

.contact>h2 {
  text-align: center;
}

.contact>.iconContainer {
  color: #f8b133;
}

.custom-icon {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footerImage {
  width: 100%;
}

@media (min-width: 600px) {
  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 20px;
  }

  .techContainer {
    font-size: 28px;
  }

  #header {
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerSection {
    max-width: 770px;
    margin: 30px 40px 10px 0;
    padding: 20px;
    display: inline;
  }

  .headContainer {
    max-width: 260px;
    float: left;
    margin: 20px 10px 10px 10px;
  }

  .name {
    top: 0;
    margin-top: 0;
    margin-left: 85%;
    white-space: nowrap;
  }

  .aboutContainer {
    max-width: 800px;
    margin: 90px 30px 0 90px;
  }

  .aboutContainer>h2 {
    text-align: left;
  }

  .aboutIcons {
    display: none;
  }

  .background {
    padding: 20px;
  }
  
  #work {
    padding: 20px;
  }

  #work>h2 {
    margin-top: 0;
  }

  .projects {
    max-width: 900px;
    grid: 1fr 1fr / 1fr 1fr;
  }

  .project {
    max-width: 400px;
  }

  #footer {
    display: grid;
    padding: 20px;
    align-items: center;
    justify-items: center;
    grid: 1fr / 1fr 1fr;
  }

  .contact>h2, .iconContainer {
    text-align: left;
  }

  .custom-icon {
    display: inline;
  }

  .footerImage {
    width: 75%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1000px) {
  .background {
    height: 80%;
    top: auto;
    bottom: 25%;
  }

  .headerSection {
    max-width: 1000px;
    margin: 0;
    display: grid;
    grid: 1fr/ 1fr 2fr;
  }

  .headContainer {
    max-width: 400px;
    float: none;
    margin: 0;
  }

  .headshot {
    display: block;
    width: auto;
    height: 100%;
  }

  .name {
    width: 2.5em;
    top: auto;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-100%, 0);
  }

  .aboutContainer {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  #work {
    padding: 0;
  }

  .aboutIcons {
    display: inline;
    align-self: flex-end;
  }

  .projects {
    max-width: 1400px;
    grid: 1fr 1fr / 1fr 1fr 1fr;
  }

  .project {
    max-width: 600px;
  }

  .contact {
    font-size: 1.2em;
  }

  .footerImage {
    justify-self: start;
    width: 80%;
    height: auto;
    margin: 40px;
  }
}